* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 16px;
    color: #023047;
    background-color: #8ecae6;
}

header {
    background-color: #219ebc;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li a, #language-selector {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

h2 {
    color: #ffb703;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fb8500;
    border-radius: 8px;
    color: white;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    section {
        margin: 10px 0;
    }
}
